<div class="max-w-sm bg-white rounded-lg shadow-md dark:bg-gray-800 dark:border-gray-700 my-2.5 mx-2.5 hover:bg-teal-200 button" *ngIf="product">
  <a class="hover:cursor-pointer" (click)="gotoDetail(product.id)">
      <img class="p-8 rounded-t-lg" src="../../../../assets/notebook.jpg" alt="product image" />
  </a>
  <div class="px-5 pb-5">
      <a class="hover:cursor-pointer" (click)="gotoDetail(product.id)">
          <h5 class="text-xl font-semibold tracking-tight text-gray-900 dark:text-white">{{product.name}}, Aluminium Case, Starlight Sport</h5>
      </a>
      <div class="flex justify-between items-center">
          <span class="text-3xl font-bold text-gray-900 dark:text-white">{{product.price | numberWithComma}} บาท</span>
          <button (click)="addCartItem()" class="text-white bg-blue-700 hover:bg-blue-900 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Add to cart</button>
      </div>
  </div>
</div>
